@charset "UTF-8";

/* notice side bar */
.notice_hd {
	text-align: center;
	font-size: 25px;
	margin-top: 0px;
}

.sub {
	width: 130px;
}

.sub_notice_list {
	margin-top: 15px;
	margin-bottom: 15px;
	list-style-type: none;
}

.sub_notice_list a {
	text-decoration: none;
	color: black;
	font-size: 13px;
}

.sub_notice_list a:hover {
	color: #116916;
}

.sub_notice_box {
	padding: 0;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	margin-bottom: 25px;
}

.notice_page_content {
	margin-top: 22px;
}

aside {
	margin-top: 30px;
	margin-left: 40px;
}

.cs_center {
	padding: 0px;
	font-size: 13px;
}

.cs_center_time {
	line-height: 22px;
}

.cs_center_hd {
	line-height: 25px;
}

/* notice 공지사항 게시판 */
.notice_wrap {
	display: flex;
}

.notice_cont {
	margin-left: 20px;
	margin-top: 35px;
}

.tbl_notice {
	border-collapse: collapse;
}

.tbl_notice th {
	border-top: 1px solid #000;
	background-color: #fbfbfb;
	width: 200px;
	/* line-height: 30px; */
	padding: 6px;
	font-size: 13px;
}

.tbl_notice td {
	border-top: 1px solid #bdbdbd;
	border-bottom: 1px solid #bdbdbd;
	/* line-height: 30px; */
	text-align: center;
	padding: 6px;
	font-size: 13px;
}

.tbl_notice td a {
	text-decoration: none;
	color: black;
}

.tbl_notice tr th:nth-of-type(1), .tbl_notice tr th:nth-of-type(3) {
	width: 120px;
}

.tbl_notice tr th:nth-of-type(4) {
	width: 94px;
}

.tbl_notice tr th:nth-of-type(2) {
	width: 507px;
}

strong {
	color: #116916;
}

/* faq 자주 묻는 질문 */
.tbl_faq {
	border-collapse: collapse;
}

.tbl_faq th {
	border-top: 1px solid #000;
	background-color: #fbfbfb;
	width: 271px;
	/* line-height: 30px; */
	padding: 6px;
	font-size: 13px;
}

.tbl_faq td {
	border-top: 1px solid #bdbdbd;
	border-bottom: 1px solid #bdbdbd;
	/* line-height: 30px; */
	text-align: center;
	padding: 6px;
	font-size: 13px;
}

.tbl_faq td a {
	text-decoration: none;
	color: black;
}

/* 공지사항 관리자 글 등록 */
.btn_notice_enroll {
	position: absolute;
	margin-left: 1016px;
	margin-top: 10px;
	float: right;
	background-color: #116916;
	border: 1px solid #fff;
	height: 29px;
	width: 50px;
	color: #fff;
	font-size: 13px;
	border-radius: 13px;
    height: 30px;
    width: 56px;
}
.update_notice, .delete_notice, .back_notice {
	    border-radius: 20px;
}


.btn_notice_enroll:hover {
	cursor: pointer;
}

.tbl_faq tr th:nth-of-type(1), .tbl_faq tr th:nth-of-type(3) {
	width: 120px;
}

.tbl_faq tr th:nth-of-type(2) {
	width: 613px;
}

/* 공지사항 상세글 조회 */
.noticeDetail_head {
	border-top: 1px solid black;
}

.noticeSecond_head {
	border-top: 1px solid #bdbdbd;
	border-bottom: 1px solid #bdbdbd;
	padding: 5px;
}

.notice_cont {
	width: 870px;
}

.notice__head {
	margin-top: 1px;
	margin-bottom: 1px;
}

.noticeDetail_view {
	border-bottom: 1px solid #dbdbdb;
}

.noticeDetail_view p {
	font-size: 14px;
}

.noticeDetail_date {
	font-size: 13px;
	margin-left: 8px;
}

.noticeDetail_look {
	font-size: 13px;
	float: right;
}

.noticeDetail_view img {
	width: 250px;
}

/* 공지사항 상세글 버튼 */
.back_notice {
	margin-top: 10px;
	float: right;
	background-color: #116916;
	border: 1px solid #fff;
	color: #fff;
	height: 29px;
	width: 68px;
	font-size: 12px;
}

.back_notice:hover, .update_notice, .delete_notice {
	cursor: pointer;
}

.update_notice, .delete_notice {
	margin-top: 10px;
	background-color: #fff;
	border: 1px solid #116916;
	color: #116916;
	height: 29px;
	width: 65px;
	font-size: 12px;
}

.delete_notice {
	margin-left: 4px;
}

/*faq*/
.q_img {
	float: right;
}

.icon_a {
	text-align: center;
	display: inline-block;
	width: 32px;
	height: 32px;
	background: #116916;
	color: #FFF;
	line-height: 36px;
	font-size: 16px;
	border-radius: 50%;
	border: 1px solid #116916;
}

.icon_q {
	text-align: center;
	display: inline-block;
	font-weight: bold;
	width: 32px;
	height: 32px;
	background: #fff;
	border: 1px solid #116916;
	color: #116916;
	line-height: 36px;
	font-size: 16px;
	border-radius: 50%;
}

.page-bar a {
	text-decoration: none;
    color: #000;
    margin-left: 8px;
}

#faq_cont {
	width: 881px !important;
}

.article {
	border-top: 1px solid #dbdbdb;
}

.faq {
	margin-left: -47px;
	margin-top: -25px;
}

.q {
	margin: 0px;
	padding: 10px;
}

.a {
	border-top: 1px solid #dbdbdb;
	background-color: #fbfbfb;
	padding: 10px;
	margin: 0px;
}

.article {
	list-style: none;
}

.article a {
	text-decoration: none;
	color: #000;
}
.faqBody {
	font-size : 15px;
	    margin-bottom: -12px;

}

/* [관리자버튼] 이은지 start */

.admin_buttons {
	display: flex;
    justify-content: center;
    margin-top: 10px;
}
.admin_buttons > div {
    width: 72px;
    height: 30px;
    padding: 0;
    border-radius: 7px;
    margin: 0 10px;
    transition-duration: 0.1s;
}
.admin_buttons button {
    background: none;
    border: none;
    width: inherit;
    height: inherit;
    padding: 0;
    cursor: pointer;
    color: #fff;
}
.updateBtn-wrapper {
    background-color: #116135;
}
.updateBtn-wrapper:hover {
    background-color: #0EAE57;
}
.cancelBtn-wrapper {
    background-color: #888;
}
.cancelBtn-wrapper:hover {
    background-color: #AD1C0E;
}
/* [관리자버튼] 이은지 end */

/* [페이지바 조정] 박수진 end */
.page-bar {
	text-align: center;
}
/* [페이지바 조정] 박수진 end */