@charset "UTF-8";

/* 1:1문의 */
.date_view_box {
	border: solid 1px #bdbdbd;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 10px;
}

.file_con a {
	text-decoration: underline;
	color: #000;
	font-size: 13px;
}

.btn_del_q {
	float: right;
	display: inline-block;
	margin-top: 27px;
	margin-right: 20px;
	background-color: #fff;
	border: 1px solid #116916;
	font-weight: bold;
	cursor: pointer;
	height: 30px;
	font-size: 12px;
	color: #116916;
	border-radius: 37px;
	width: 56px;
}

.date_check_box button {
	color: #777777;
}

.date_check_box button:hover {
	background-color: #aeaeae;
	color: #fff;
}

.btn_faq {
	background-color: #116916;
	height: 30px;
	font-size: 12px;
	color: #fff;
	border-radius: 37px;
	width: 52px;
	float: right;
	margin-top: 27px;
	margin-right: 7px;
	border: 1px solid #116916;
}

.btn_faq:hover {
	cursor: pointer;
}

.btn_question {
	float: right;
	margin-top: 27px;
	margin-right: 20px;
	background-color: #fff;
	border: 1px solid #116916;
	height: 30px;
	font-size: 12px;
	font-weight: bold;
	color: #116916;
	border-radius: 15px;
	width: 91px;
}

.btn_question:hover, .date_check_box button:hover, .btn_date_check:hover
	{
	cursor: pointer;
}

.date_span {
	float: left;
	line-height: 50px;
	/* margin-right: 8px; */
	font-size: 13px;
	margin-left: 90px;
}

.date_check_box {
	float: left;
}

.date_check_box button {
	background-color: #fff;
	border: 1px solid #bdbdbd;
	margin-right: -7px;
	width: 46px;
	height: 28px;
	font-size: 12px;
}

.btn_date_check {
	width: 50px;
	height: 25px;
	background-color: #116916;
	border: #116916;
	color: #fff;
	font-size: 12px;
}

.ck_calendar {
	width: 100px;
	height: 23px;
	border: 1px solid #bdbdbd;
	font-size: 12px;
}

.ck_calendar:first-child {
	margin-left: -80px;
}

/* list th:nth-of-type(4), */
.question_list {
	border-collapse: collapse;
	text-decoration: none;
	color: #000;
}

.write_list a {
	text-decoration: none;
	color: #000;
}

.question_list th {
	border-top: 1px solid #000;
	width: 300px;
	/* line-height: 30px; */
	padding: 6px;
	font-size: 13px;
}

.question_list th:nth-of-type(1), .question_list th:nth-of-type(3) {
	width: 120px;
}

.question_list th:nth-of-type(2) {
	width: 550px;
}

.question_list td {
	border-top: 1px solid #bdbdbd;
	border-bottom: 1px solid #bdbdbd;
	/* line-height: 30px; */
	text-align: center;
	padding: 6px;
	font-size: 13px;
}

.question_list td a {
	text-decoration: none;
	color: #000;
}

.board_question_zone {
	margin-left: 15px;
	padding-top: 0px;
	margin-top: -1px;
}

/* 1:1 문의 상세글 */
.question_view_hd {
	border-top: 1px solid black;
}

.question_view_hd h3 {
	margin: 0px;
	font-size: 14px;
}

.question_view_info {
	border-top: 1px solid #bdbdbd;
	border-bottom: 1px solid #bdbdbd;
	font-size: 13px;
	padding: 5px;
}

.view_info_day {
	float: right;
}

.q_cont p {
	font-size: 14px;
	padding: 0px !important;
	height: 250px;
	overflow-y: hidden;
}

.a_cont p {
	font-size: 14px;
	padding: 0px !important;
	height: 250px;
	overflow-y: hidden;
}

.a_cont, .q_cont {
	padding-left: 0px;
}

.view_answer_box {
	background-color: #fbfbfb;
	padding: 0px;
}

.answer_view_hd h3 {
	font-size: 14px;
	margin: 0px;
}

.question_view_content {
	border-bottom: 1px solid #000;
	padding-top: 0px;
}

.board_question_zone_sec, .question_zone_view {
	padding-top: 0px;
}

.view_info_name {
	margin-left: 4px;
}

/* 1:1 문의글 작성 */
#p_title {
	width: 605px;
	height: 37px;
	border: 1px solid #ccc;
	padding-left: 10px;
}

#p_content {
	border: 1px solid #ccc;
	overflow: hidden;
	overflow-y: auto;
	width: 594px;
	height: 160px;
	padding: 15px;
	padding-left: 10px;
	resize: none;
}

.file-focus {
	outline: 1px dotted #d2310e;
}

.file-name {
	border: 1px solid #bdbdbd;
	width: 180px;
	height: 27px;
	margin-right: 5px;
}

.file-label {
	padding: 10px 18px;
	background-color: #fff;
	border: 1px solid #116916;
	color: #116916;
	cursor: pointer;
	margin-right: 6px;
}

.btn_file2 {
	padding: 10px 12px;
	background-color: #116916;
	border: 1px solid #116916;
	color: #fff;
	cursor: pointer;
}

#upFile {
	width: 200px;
	height: 37px;
	border: 1px solid #ccc;
}

.btn_upload_box {
	float: right;
	margin-right: 300px;
	margin-top: -9px;
}

#search_file {
	width: 70px;
	height: 39px;
	background-color: #fff;
	border: 1px solid #116916;
	color: #116916
}

#plus_file {
	height: 39px;
	background-color: #fff;
	border: 1px solid #BDBDBD;
	margin-left: 5px;
}

#search_file:hover, #plus_file:hover {
	cursor: pointer;
}

.btn_question_box {
	border-top: solid 1px #dbdbdb;
	/* text-align: center; */
	margin-left: 25px;
	margin-top: 10px;
	padding-top: 35px;
}

#btn_del_can {
	width: 190px;
	height: 45px;
	line-height: 45px;
	border: 1px solid #116916;
	background: #116916;
	color: #f1f1f1;
	font-size: 17px;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid #116916;
	color: #116916;
	background: #fff;
	margin-right: 30px;
	margin-left: 160px;
}

#btn_question_enroll {
	width: 190px;
	height: 45px;
	line-height: 45px;
	background: #116916;
	color: #fff;
	font-size: 17px;
	font-weight: 500;
	cursor: pointer;
	border: 1px solid #116916;
}

.tbl_question_enroll {
	margin-left: 40px;
}

.tbl_question_enroll th {
	line-height: 45px;
	padding-right: 30px;
	font-size: 13px;
}

.tbl_question_enroll {
	border-collapse: separate;
	border-spacing: 0 10px;
}

.upload_file {
	padding-left: 0px;
	padding-top: 0px;
}

/* boardWriteList 작성 글 조회 페이지 */
.write_list {
	border-collapse: collapse;
}

.write_list th {
	border-top: 1px solid #000;
	width: 300px;
	/* line-height: 30px; */
	padding: 6px;
	font-size: 14px;
}

.write_list td {
	border-top: 1px solid #bdbdbd;
	border-bottom: 1px solid #bdbdbd;
	/* line-height: 30px; */
	text-align: center;
	padding: 6px;
	font-size: 13px;
}

.board_write_list {
	margin-left: 15px;
	padding-top: 0px;
}

.btn_write_search {
	border-radius: 20px;
	height: 31px;
	width: 61px;
	background-color: #116916;
	border: #116916;
	color: #fff;
	font-size: 12px;
	padding-top: 2px;
}

.btn_write_search:hover {
	cursor: pointer;
}

#search_boardTitle {
	display: inline-block;
	padding-left: 0px;
}

#searchType {
	height: 29px;
	width: 61px;
	padding-bottom: 3px;
	padding-right: 4px;
	border-radius: 20px;
	border: solid 2px #dbdbdb;
	    padding-left: 8px;
}

#searchKeyword {
	height: 25px;
	width: 164px;
	border-radius: 20px;
	border: solid 2px #dbdbdb;
	    padding-left: 10px;
}

#search_container {
	text-align: center;
}

.write_list tr th:nth-of-type(1), .write_list tr th:nth-of-type(4) {
	width: 100px;
}

.write_list tr th:nth-of-type(3) {
	width: 120px;
}

.write_list tr th:nth-of-type(2) {
	width: 500px;
}