@charset "UTF-8";

* {
	font-family: 'LeferiBaseType-RegularA';
}

/* login 페이지 */
.head_log {
	text-align: center;
	font-size: 20px;
	margin-bottom: -2px;
}

.login_input_cont {
	padding: 0px 0 170px 0;
	position: relative;
	margin-bottom: -30px;
}

.test {
	padding: 0;
}

.login_input_cont input {
    width: 316px;
    height: 44px;
	border: 1px solid #dbdbdb;
	
	text-indent: 15px;

	/* border-radius:5px; */
}

#password {
	margin-top: 13px;
}

.btn_member_login {
	width: 321px;
    height: 53px;
	line-height: 55px;
	background: #116916;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	border: 1px solid #116916;
	position: absolute;
	bottom: 74px;
}

.btn_member_join {
	width: 321px;
    height: 53px;
	line-height: 55px;
	border: 1px solid #116916;
	background: #116916;
	color: #f1f1f1;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid #116916;
	color: #116916;
	background: #fff;
	display: block;
	position: absolute;
	bottom: 8px;
	left: 0;
}

.form_cont {
	padding: 40px;
	width: 340px;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	margin: 0 auto;
	margin-top: 30px;
	padding-bottom: 19px;
}

.id_chk {
	position: relative;
	line-height: 15px;
	bottom: 140px;
	left: -10px;
}

.idpw_list li {
	float: left;
	margin-left: 10px;
	list-style: none;
	margin-top: -15px;
}

.member_sns_login {
	width: 300px;
	margin: 0 auto;
	margin-top : 10px;
}

.member_sns_login_in li {
	float: left;
	position: relative;
	margin-right: 20px;
	list-style: none;
}

.member_sns_login_in span {
	display: block;
	text-align: center;
	color: #333333;
	font-size: 15px;
	margin-top: 14px;
}

.btn_kakao_login {
	margin-left: 50px;
	text-decoration: none;
	margin-bottom: 50px;
}

.btn_naver_login {
	text-decoration: none;
}

.btnFindId, .btnFindPwd {
	background: #fff;
	color: #000;
	cursor: pointer;
	border: none;
	font-size: 13px;
}

.btnFindId {
	margin-right: 10px;
	padding-left: 13px;
}

.btnFindPwd {
	margin-left: 17px;
}

.idpw_list li:not(:first-child) {
	/*border-left: 1px solid #BEBEBE;*/
	
}

.on {
	font-size: 12px;
}

#saveId {
	width: 13px;
}

/* joinAgree 페이지 */
.agree_box {
	border-top: 1px solid #dbdbdb;
	width: 700px;
	margin: 0 auto;
}

.join_main_head {
	text-align: center;
}

.join_main_head ul {
	display: inline-block;
	margin-left: -40px;
}

.step {
	list-style: none;
	float: left;
}

.step span {
	font-size: 12px;
}

/* .step li:first-child {
					color: #116916;
				} */
label {
	font-size: 13px;
	line-height: 20px;
}

.ps {
	font-size: 13px;
	font-size: 13px;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	padding: 30px;
}

.agree_text_box {
	font-size: 12px;
	border: 1px solid black;
	overflow-x: hidden;
	overflow-y: auto;
	height: 89px;
	padding: 20px;
	border: 1px solid #dbdbdb;
}

.btn_box {
	text-align: center;
}

.agree_choice {
	color: #116916;
	font-size: 13px;
}

.join_check {
	margin-bottom: 5px;
	/* padding: 0px; */
}

.join_check {
	margin-bottom: 5px;
}

#every_agree {
	font-size: 14px;
	font-weight: bold;
}

.agree_text_box {
	width: 600px;
	margin: 0 auto;
}

#btn_next {
	width: 300px;
	height: 55px;
	line-height: 55px;
	background: #116916;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	border: 1px solid #116916;
}

.btn_box {
	margin-top: 25px;
}

.use_agree {
	border-bottom: 1px solid black;
	padding: 10px;
}

/* join page 페이지 enroll */
.join_box {
	width: 700px;
	margin: 0 auto;
}

.member_box {
	width: 600px;
	margin-left: 60px;
}

.input_text {
    padding: 0 10px;
	width: 300px;
	height: 35px;
	border: 1px solid #BDBDBD;
	box-sizing: border-box;
}

.member_title {
	display: inline-block;
	width: 130px;
	font-weight: bold;
}

.member_title {
	font-size: 13px;
}

.guide {
	display: block;
	padding: 3px 0 0 137px;
	color: #888;
	font-size: 11px;
}

.gender_cb {
	display: inline-block;
}

.checkId {
	margin-left: 10px;
	background: #116916;
	color: #fff;
	cursor: pointer;
	border: 1px solid #116916;
	height: 35px;
	font-size: 12px;
	width: 95px;
}

#phone {
	margin-bottom: 0px;
}

#btn_cancle {
	width: 250px;
	height: 52px;
	line-height: 52px;
	border: 1px solid #116916;
	background: #116916;
	color: #f1f1f1;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid #116916;
	color: #116916;
	background: #fff;
	margin-right: 30px;
}

#btn_join {
	width: 250px;
	height: 52px;
	line-height: 52px;
	background: #116916;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	border: 1px solid #116916;
}

/* joinend 회원가입 완료 페이지 */
#end {
	text-align: center;
	margin-top: 5px;
	padding-bottom: 30px;
	border-bottom: 1px solid black;
}

.finish {
	text-align: center;
	font-size: 13px;
	margin-bottom: 10px;
}

.img_check {
	text-align: center;
	margin-top: 20px;
}

#btn_home {
	width: 250px;
	height: 52px;
	line-height: 52px;
	border: 1px solid #116916;
	background: #116916;
	color: #f1f1f1;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid #116916;
	color: #116916;
	background: #fff;
	margin-right: 30px;
}

#btn_log {
	width: 250px;
	height: 52px;
	line-height: 52px;
	background: #116916;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	border: 1px solid #116916;
}

/* find 페이지 */
.find_box {
	padding: 30px;
	width: 360px;
	border-top: 1px solid #dbdbdb;
	margin: 0 auto;
	margin-top: 30px;
	height: 510px;
}

.find_input_box {
	    width: 302px;
    height: 44px;
	border: 1px solid #dbdbdb;
	
	margin-bottom: 14px;
	padding-left: 16px;
}

.find_input {
	padding: 0;
}

.btn_find, .btn_find_id, .btn_find_log {
	display: block;
	margin-bottom: 10px;
}

.btn_find_id {
	width: 321px;
    height: 53px;
	line-height: 55px;
	background: #116916;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	border: 1px solid #116916;
}

.btn_find, .btn_find_log {
	width: 321px;
    height: 53px;
	line-height: 55px;
	border: 1px solid #116916;
	background: #116916;
	color: #f1f1f1;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid #116916;
	color: #116916;
	background: #fff;
	margin-right: 30px;
}

.plus {
	margin-top: 10px;
}

.plus span {
	font-size: 12px;
	display: inline-block;
	margin-bottom: 10px;
}

.btn_find_log {
	margin-bottom: 13px;
}

.find_id_box {
	border-bottom: solid 1px #bdbdbd;
}

/* 회원 정보 수정 페이지 member update */

/* 회원 탈퇴 페이지 */
.del_strong {
	color: black;
	font-size: 15px;
}

.del_com_strong {
	color: black;
	font-size: 13px;
}

.del_hd, .del_cont {
	text-align: center;
	/* margin-bottom: 30px; */
	margin-left: 13px;
}

.del_hd {
	padding-bottom: 20px;
}

.del_li {
	list-style: none;
	margin-bottom: 30px;
}

.del_strong {
	display: block;
}

.del_cont {
	padding-top: 30px;
	padding-bottom: 0.5px;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
}

.del_hd span {
	font-size: 14px;
}

.del_cont span {
	font-size: 12px;
	color: #888888;
}

#del_ask {
	display: block;
}

.del_com_strong {
	line-height: 45px;
	padding-right: 30px;
}

#del_ask {
	width: 450px;
	height: 37px;
	border: 1px solid #ccc;
	padding-left: 10px
}

.del_textarea textarea {
	border: 1px solid #ccc;
	overflow: hidden;
	overflow-y: auto;
	width: 580px;
	height: 100px;
	padding: 15px;
	resize: none;
}

.del_flex {
	display: flex;
}

#del_flex_com {
	margin-bottom: -15px;
}

#btn_del {
	width: 190px;
	height: 45px;
	line-height: 45px;
	background: #116916;
	color: #fff;
	font-size: 17px;
	font-weight: 500;
	cursor: pointer;
	border: 1px solid #116916;
}

#btn_del_can {
	width: 190px;
	height: 45px;
	line-height: 45px;
	border: 1px solid #116916;
	background: #116916;
	color: #f1f1f1;
	font-size: 17px;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid #116916;
	color: #116916;
	background: #fff;
	margin-right: 30px;
	margin-left: 160px;
}

.btn_del_box {
	border-top: solid 1px #dbdbdb;
	/* text-align: center; */
	margin-left: 25px;
	margin-top: 10px;
	padding-top: 35px;
}

.del_comment {
	margin-left: 40px;
}


/* member update 페이지 */
#btn_update {
	width: 190px;
	height: 45px;
	line-height: 45px;
	background: #116916;
	color: #fff;
	font-size: 17px;
	font-weight: 500;
	cursor: pointer;
	border: 1px solid #116916;
}

#btn_update_can {
	width: 190px;
	height: 45px;
	line-height: 45px;
	border: 1px solid #116916;
	background: #116916;
	color: #f1f1f1;
	font-size: 17px;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid #116916;
	color: #116916;
	background: #fff;
	margin-right: 30px;
	margin-left: 160px;
}

.btn_update_box {
	border-top: solid 1px #dbdbdb;
	/* text-align: center; */
	margin-left: 25px;
	margin-top: 10px;
	padding-top: 35px;
}

.update_content {
	/* margin-left: 100px; */
	padding: 20px;
}

.input__text {
    padding: 0 10px;
	width: 400px;
	height: 35px;
	border: 1px solid #BDBDBD;
	box-sizing: border-box;
}

.update_cont_box {
	margin-left: 100px;
}

.info_ck {
	width: 12px;
	height: 11px;
}

#phone1, #phone2, #phone3 {
	width : 91px;
	
}

#email2, #email1 {
	width: 141px;
}

#inputDomain {
    width: 139px;
}

.email_select {
	display: inline;
}

#email3 {
	height: 35px;
	border: 1px solid #BDBDBD;
}

#zipcode {
	width: 140px;
}

#address, #addressDetail {
	display: block;
	margin-top: 15px;
	margin-left: 135px;
}

.btn_address {
	height: 35px;
	background-color: #fff;
	border: 1px solid #BDBDBD;
	font-size: 12px;
	width: 100px;
	margin-left: 10px;
}

.btn_address:hover, .btn_password:hover {
	cursor: pointer;
}

.point {
	color : red;
}

.btn_password {
	height: 35px;
	background-color: #fff;
	border: 1px solid #BDBDBD;
	font-size: 12px;
	width: 100px;
}