@charset "UTF-8";



.list_header {
    height: 300px;
    background-color: #f1f1f1;
}

.list_header h1 {
    margin: 100px 0 0 50px;
}

.list_header p {
    margin-left: 50px;
}

#content .sort_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort_box div {
    font-weight: 900;
    display: table-cell;
    vertical-align: middle;
}

.product {
    background-color: #eee;
    border-radius: 10px;
    width: 20%;

}

#sort {
    line-height: normal;
    height: 40px;
    padding: 2px;
    font-family: 'NanumSquare';
    text-align: center;
    border: none;
    width: 100px;
    outline-style: none;
}

.item {

    display: flex;
    list-style: none;
    width: 251.8px;
    flex-wrap: wrap;
    margin: 10px 11.6px;
    justify-content: space-between;
    

}

.item_img {
    width: 250px;
    height: 250px;
    border-radius: 13px;
    margin: auto;
}

.item_tit,
.item_price,
.item_dsc {
    text-decoration: none;
    color: black;
}

.item_tit:hover,
.item_price:hover,
.item_dsc:hover {
    text-decoration: none;
    color: #116916;
    transition-duration: 0.5s;

} 

.item_tit {
    font-weight: 700;
    font-size: 1.2em;
    width: 100%;
    margin: 10px 0 0 0;
}

.item_price {
    font-weight: 900;
    width: 70%;
    margin: 12px 0 0 0;
    
}

.item_dsc {
    margin: 12px 0 0 0;
    width: 100%;
}

.add_cart {
    display: block;
    font-size: 1.6em;
    margin: 0 4% 0px 0;
    color: #116916;
    float: right;
    position: relative;
    padding-top: 2px;
    transition-duration: 0.5s;
}
.add_cart:hover{
    color: #0b490f;
 
}

.product_list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 30px;
}
#content{
	margin-bottom:50px;	
}

.page-bar{
	text-align: center;
}

