@charset "UTF-8";

/* ===================================
noticeBoardEnroll.jsp
======================================*/

#notice-board-enroll-wrap {
	width: 90%;
	margin: 30px auto;
}

#notice-board-enroll-wrap .main-title {
	font-size: 21px;
}

#notice-board-enroll-wrap .main-sub-title, sup {
	font-size: 13px;
	font-weight: bold;
	color: red;
}

/* select */
.notice-board-select {
	font-size: 14px;
	text-align: left;
	padding-left: 5px;
	width: 10%;
	height: 27px;
	background: url('https://cdn-icons-png.flaticon.com/512/57/57055.png') no-repeat 95% 50% / 14px 14px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.notice-board-select::-ms-expand {
	display: none;
}

/* ===================================
noticeBoardUpdate.jsp
======================================*/

#notice-board-update-wrap {
	width: 90%;
	margin: 30px auto;
}

#notice-board-update-wrap .main-title {
	font-size: 21px;
}

#notice-board-update-wrap .main-sub-title, sup {
	font-size: 13px;
	font-weight: bold;
	color: red;
}
