@charset "UTF-8";

/* ===================================
font
======================================*/
@font-face {
    font-family: 'LeferiPoint-BlackA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeferiPoint-BlackObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeferiBaseType-BoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-BoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeferiBaseType-RegularA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeferiPoint-SpecialA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-SpecialA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeferiPoint-SpecialItalicA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-SpecialItalicA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LeferiPoint-WhiteA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ===================================
index.jsp - header/footer
======================================*/

* {
	font-family: 'LeferiBaseType-RegularA';
}

div, section, header, footer {
	padding: 10px;
}

select {
	font-family: 'NanumSquare';
}

/* container */
div#container {
	width: 1200px;
	min-height: 1080px;
	margin: 0 auto;
}

/* header */
header {
	height: 80px;
}

.main-logo, .main-nav, .member-nav {
	margin-top: 10px;
	font-weight: bold;
}

/* main-logo */
.main-logo {
	float: left;
	font-family: 'LeferiPoint-BlackObliqueA';
	letter-spacing: -2px;
	font-weight: bold;
	font-size: 30px;
	color: #116916;
	margin-left: 10px;
}

.main-logo a {
	font-family: 'LeferiPoint-BlackObliqueA';
	text-decoration: none;
	color: #116916;
}

/* main-logo 작동 확인용 */
.main-logo a:hover {
	color: black;
}

/* header nav */
header nav {
	padding: 10px;
}

header nav ul li {
	list-style-type: none;
	font-size: 12px;
	font-weight: bold;
}

header nav ul li a {
	text-decoration: none;
	color: black;
}

header nav ul li:hover {
	text-decoration: underline;
	font-weight: bold;
}

.main-nav {
	float: left;
}

.member-nav {
	float: right;
}

.main-nav li {
	float: left;
	width: 10em;
	text-align: center;
}

.main-nav li:nth-of-type(5) {
	margin-left: 20px;
}

.main-nav li:last-of-type {
	margin-left: 30px;
}

.member-nav li {
	float: left;
	width: 3em;
	text-align: center;
	margin-right: 10px;
}

.member-nav li i {
	color: #116916;
}

/* member-nav 작동 확인용 */
.member-nav li i:hover {
	color: black;
}

#content {
	min-height: 700px;
}

#content h2 {
	margin-top : 200px;
	text-align: center;
}

/* footer */
footer {
	background-color: rgb(245, 245, 245);
	height: 300px;
	clear: both;
}

footer table {
	text-align: left;
}

footer a {
	text-decoration: none;
	color: black;
}

/* footer a태그 작동 확인 */
footer a:hover {
	text-decoration: underline;
}

.info {
	float: left;	
	margin-left: 70px;
}

.info-logo {
	color: #116916;
	font-size: 30px;
}

.info-logo span {
	font-family: 'LeferiPoint-BlackObliqueA';
	letter-spacing: -2px;
}

.info table {
	width: 400px;
	height: 200px;
}

tbody {
	font-size: 15px;
}

.cs {
	float: right;
	margin-right: 30px;
}

.cs table {
	width: 500px;
	border-spacing: 9px;
}

.cs table th {
	text-align: center;
}

.cs thead th {
	font-size: 23px;
}

.cs thead td {
	font-weight: bold;
}

.cs tbody th {
	border: 1px solid black;
}

.cs tbody td {
	font-size: 14px;
}

.cs tfoot {
	font-size: 14px;
}

.footer-contents {
	color: #116916;
}

.rights {
	clear: both;
	text-align: center;
	font-size: 13px;
}

.rights a {
	font-weight: bold;
}
