@charset "UTF-8";

/* ===================================
body
======================================*/
div, section, header, footer {
	padding: 10px;
}

/* container */
div#container {
	width: 1200px;
	height: 1080px;
	margin: 0 auto;
}

/* header */
header {
	height: 130px;
}

/* main-logo */
.main-logo {
	float: left;
	font-weight: bold;
	font-size: 30px;
	color: #116916;
	margin-left: 10px;
}

.main-logo a {
	text-decoration: none;
	color: #116916;
}

/* main-logo 작동 확인용 */
.main-logo a:hover {
	color: black;
}

/* header nav */
header nav {
	padding: 10px;
}

header nav ul li {
	list-style-type: none;
	font-size: 12px;
	font-weight: bold;
}

header nav ul li a {
	text-decoration: none;
	color: black;
}

header nav ul li:hover {
	text-decoration: underline;
	font-weight: bold;
}

.main-nav {
	float: left;
	margin-left: 10px;
}

.member-nav {
	float: right;
}

.main-nav li {
	float: left;
	width: 10em;
	text-align: center;
}

.main-nav li:nth-of-type(5) {
	margin-left: 20px;
}

.main-nav li:last-of-type {
	margin-left: 30px;
}

.member-nav li {
	float: left;
	width: 3em;
	text-align: center;
	margin-right: 10px;
}

.member-nav li i {
	color: #116916;
}

/* member-nav 작동 확인용 */
.member-nav li i:hover {
	color: black;
}

section {
	height: 650px;
}

/* footer */
footer {
	background-color: rgb(245, 245, 245);
	height: 300px;
	clear: both;
}

footer table {
	text-align: left;
}

footer a {
	text-decoration: none;
	color: black;
}

/* footer a태그 작동 확인 */
footer a:hover {
	text-decoration: underline;
}

.info {
	float: left;	
	margin-left: 70px;
}

.info-logo {
	color: #116916;
	font-size: 30px;
}

.info table {
	width: 400px;
	height: 200px;
}

tbody {
	font-size: 15px;
}

.cs {
	float: right;
	margin-right: 30px;
}

.cs table {
	width: 500px;
	border-spacing: 9px;
}

.cs table th {
	text-align: center;
}

.cs thead th {
	font-size: 23px;
}

.cs thead td {
	font-weight: bold;
}

.cs tbody th {
	border: 1px solid black;
}

.cs tbody td {
	font-size: 14px;
}

.cs tfoot {
	font-size: 14px;
}

.footer-contents {
	color: #116916;
}

.rights {
	clear: both;
	text-align: center;
	font-size: 13px;
}

.rights a {
	font-weight: bold;
}

/* ===================================
next
======================================*/