.div-level1 {
  width: 1180px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-size: 14px;
}
.div-level2 {
  width: inherit;
}

/*---------------------- 조회결과 영역 ----------------------*/
.div-resultlist {
  margin: 0 0 15px;
  padding: 0;
}
.tbl-searchResult {
  margin: auto;
  width: inherit;
  border-collapse: collapse;
}
.tbl-searchResult tr {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}
.tbl-searchResult thead {
  height: 35px;
  font-size: 13px;
  background-color: #116135;
  color: #fff;
}
.div-resultlist th {
  font-weight: normal;
}
.div-resultlist td {
  height: 25px;
  font-family: 'LeferiBaseType-RegularA';
  padding: 2px 7px;
  font-size: 13px;
  text-align: center;
}
.div-resultlist td:not(:last-of-type) {
  border-right: 1px dashed #ddd;
}



.col-memberRole select {
  font-size: 13px;
  font-family: 'NanumSquare';
}
.col-no {
  width: 26px;
  text-align: center;
}
.col-gender {
  width: 40px;
}
.col-orderNo {
  width: 60px;
}
.col-price {
  width: 70px;
}
.col-memberName, .col-shippingStatus {
  width: 80px;
}
.col-birth, .col-regDate, .col-orderDate {
  width: 96px;
}
.col-phone {
  width: 110px;
}
.col-memberId {
  width: 130px;
}
.col-products, .col-orderReq {
  width: 150px;
}
.col-shippingAddr {
  width: 270px;
}


td.col-buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
td.col-buttons > div {
  padding: 0;
  height: 25px;
  border-radius: 10px;
  background-color: #0eae5622;
  display: flex;
  align-items: center;
  transition-duration: 0.1s;
}
td.col-buttons a {
  padding: 0 7px;
  height: inherit;
  line-height: 220%;
}
td.col-buttons div:hover {
  cursor: pointer;
  color: #fff;
}
.div-modify:hover {
  background-color: #0EAE57;
}
.div-cancel:hover {
  background-color: #AD1C0E;

}

/*------------------ td 오버플로우 시 스크롤바 ------------------*/
#tbl-orderList {
  table-layout: fixed;
}
#tbl-orderList td {
  height: 35px;
}
td.td-xscroll {
  overflow-x: scroll;
  white-space: nowrap;
  text-overflow: clip;
}
td.td-xscroll::-webkit-scrollbar {
  height: 7px;
  z-index: 2;
}
td.td-xscroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #0eae5622;
}
td.td-xscroll::-webkit-scrollbar-thumb:hover {
  background-color: #0EAE57;
}


/*------------------ 수정버튼 클릭시 수정폼 노출 ------------------*/
.div-opacityLow {
  opacity: 0.2;
}
.div-hidden {
  visibility: hidden;
}
.orderModifyFrm-wrapper {
  width: 800px;
  height: 50vh;
  position: absolute;
  top: 25vh;
  margin: 0 auto;

  background-color: #fff;
  border: 1.5px solid #888;
  border-radius: 30px;
}
#orderModifyFrm {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#orderModifyFrm > p {
  font-family: 'LeferiPoint-BlackA';
  font-size: 20px;
  margin: 10px;
}
#orderModifyFrm > div {
  width: 560px;
  margin: 5px 0;
}
#orderModifyFrm label {
  margin: 0 10px 0 0;
  font-family: 'LeferiPoint-BlackA';
  color: #116135;
}
#orderModifyFrm select {
  height: 22px;
  margin-top: -4px;
  font-size: 13px;
  font-family: 'NanumSquare';
}
.shippingAddrList-wrapper {
  height: 10vh;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  overflow-y: scroll;
}
.shippingAddrList-wrapper::-webkit-scrollbar {
  width: 7px;
}
.shippingAddrList-wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #0eae5622;
}
.shippingAddrList-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #0EAE57;
}

.div-orderModifyFrmButtons {
  display: flex;
  justify-content: center;
}
.div-orderModifyFrmButtons > div {
  width: 72px;
  height: 30px;
  padding: 0;
  margin: 0 10px;
  border-radius: 10px;
  transition-duration: 0.1s;
}
.div-orderModifyFrmButtons > div:first-of-type {
  background-color: #333;
}
.div-orderModifyFrmButtons > div:last-of-type {
  background-color: #116135;
}
.div-orderModifyFrmButtons button {
  width: inherit;
  height: inherit;
  background: none;
  border: none; 
  color: #fff;
  line-height: 240%;
  cursor: pointer;
}
.div-orderModifyFrmButtons > div:hover {
  background-color: #0EAE57;
}