
#content {
  height: 750px;
}
.div-level1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.div-level1 * {
  font-family: 'LeferiBaseType-RegularA';
  font-weight: normal;
  font-size: 12px;
  vertical-align: bottom;
}
.div-level2 {
  margin: 0 15px;
  padding: 0;
}
.middlediv {
  margin-top: 15px;
}
.bottomdiv {
  margin-top: 30px;
}
.leftdiv {
  width: 582px;
}
.rightdiv {
  width: 378px
}
.div-level1 h1 {
  font-family: 'LeferiPoint-BlackObliqueA';
  font-weight: normal;
  font-size: 28px;
  margin: 10px;
  text-align: center;
}
/*-------------------- today summary 영역 --------------------*/
#tbl-summaryData {
  width: inherit;
}
#tbl-summaryData tbody tr {
  display: flex;
  justify-content: space-between;
}
#tbl-summaryData tr:not(:first-of-type) {
  margin-top: 15px;
}
#tbl-summaryData thead {
  height: 45px;
}
#tbl-summaryData td {
  width: 256px;
  height: 80px;
  padding: 10px 13px;
  border: 0px solid #000;
  border-radius: 10px;
  background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
}
#tbl-summaryData td>div {
  padding: 0;
  color: #fff;
}
#tbl-summaryData h2 {
  font-family: 'LeferiPoint-WhiteObliqueA';
  font-size: 24px;
  margin: 0 0 10px;
  text-align: left;
}
#tbl-summaryData p {
  font-family: 'LeferiPoint-WhiteA';
  letter-spacing: 1px;
  font-weight: bolder;
  font-size: 28px;
  margin: 0;
  text-align: right;
}

/*-------------------- Board 영역 --------------------*/
#div-board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#div-QnAboard {
  width: inherit;
  padding: 0;
}
#div-QnAboard-head {
  height: 45px;
  padding: 0;
  position: relative;
}
#div-QnAboard-head > div {
  width: 30px;
  height: 20px;
  padding: 2px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #116135;
  border: 1px solid #ffffffff;
  border-radius: 7px;
  display: flex;
  text-align: center;
  transition-duration: 0.2s;
}
#div-QnAboard-head > div:hover {
  background-color: #0EAE57;
}
#div-QnAboard-head a {
  width: inherit;
  height: inherit;
  color: #fff;
  text-decoration: none;
  line-height: 200%;
}
#tbl-QnAboard {
  margin: 10px 0;
  width: inherit;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  border-collapse: collapse;
}
#tbl-QnAboard thead {
  text-align: center;
}
#tbl-QnAboard tbody {
  text-align: center;
}
#tbl-QnAboard th:first-of-type {
  width: 40px;
}
#tbl-QnAboard th:nth-of-type(2) {
  width: 90px;
}
#tbl-QnAboard td:last-of-type {
  text-align: left;
}
#tbl-QnAboard th {
  height: 24px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #333;
}
#tbl-QnAboard td {
  height: 24px;
  border-bottom: 1px dashed #888;
}
#div-board > div:last-child {
  padding: 5px 0;
  display: flex;
  justify-content: space-between; 
} 
.div-174wrap {
  width: 174px;
  height: 40px;
  padding: 0;
  background-color: #116135;
  border: 1px solid #ffffffff;
  border-radius: 6px;
  transition-duration: 0.2s;
}
.div-174wrap a {
  display: table-cell;
  width: inherit;
  height: inherit;
  text-align: center; 
  line-height: 280%;
  color: #fff;
  text-decoration: none;
}
.div-174wrap:hover {
  background-color: #0EAE57;
}
/*-------------------- Sales Trend 영역 --------------------*/
#div-salestrend {
  text-align: center;
}
#div-salestrend a {
  color: #000;
  text-decoration: none;
  transition-duration: 0.25s;
  transition-timing-function: ease;
}
#div-salestrend h1 {
  display: inline-block;
}
#div-salestrend a:hover {
  color: #0EAE57;
  cursor: pointer;
}
#div-salestrend-chart {
  height: 200px;
}

/*-------------------- Members 영역 --------------------*/
#div-members-chart {
  height: 200px;
  position: relative;
}
#div-members-chart canvas {
  position: absolute;
  top: 10px;
  left: 10px;
}

/*-------------------- 이동 아이콘 영역 --------------------*/
#div-icons {
  width: 990px;
  display: flex;
  justify-content: space-between;
}
.div-icon {
  width: 174px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-icon a {
  width: 110px;
  height: 55px;
  color: #000;
  text-align: center;
  text-decoration: none;
  line-height: 2.5;
  font-weight: 700;

  transition-duration: 0.25s;
  transition-timing-function: ease;
}
.div-icon a:hover {
  color: #0EAE57;
}
.div-icon i {
  width: inherit;
}



/*-------------------- 로딩 CSS 영역 --------------------*/
@keyframes rotate-loading {
  0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
  100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}
.loading-container, .loading {
  height: 40px;
  position: relative;
  width: 40px;
  border-radius: 100%;
}

.loading-container { margin: 45px auto }

.loading {
  border: 1px solid transparent;
  border-color: transparent #116135 transparent #116135;
  -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
  -moz-transform-origin: 50% 50%;
  -o-animation: rotate-loading 1.5s linear 0s infinite normal;
  -o-transform-origin: 50% 50%;
  -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
  -webkit-transform-origin: 50% 50%;
  animation: rotate-loading 1.5s linear 0s infinite normal;
  transform-origin: 50% 50%;
}