@charset "UTF-8";

/* ===================================
communityBoard.jsp
======================================*/

#community-board-wrap a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

#community-board-wrap .hacks-title a,
#community-board-wrap .general-title a {
	color: #116916;
}

#community-board-wrap .hacks-content-title,
#community-board-wrap .general-content-title {
	font-size: 14px;
	font-weight: bold;
}

#community-board-wrap .hacks-content-title a:hover,
#community-board-wrap .general-content-title a:hover {
	color: #f8674f;
}

/* table */
.tbl-community-hacks, .tbl-community-general {
	margin: 0 auto;
	width: 90%;
	border-spacing: 10px 0;
	table-layout: fixed;
}

/* th, td */
.hacks-title th, .general-title th {
	padding: 20px 10px;
	text-align: left;
	color: #116916;
}

.hacks-title th i, .general-title i {
	padding-right: 10px;
}

.hacks-content-title div, .general-content-title div {
	/* 제목이 한 줄 이상인 경우 ...처리 */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.hacks-content div, .general-content div {
	border-top: 1px solid rgb(225, 225, 225);	
	border-bottom: 1px dashed rgb(225, 225, 225);	
}

.hacks-content div a {
	/* hacks content 영역이 3줄 이상일 경우 ...처리 */
	white-space: normal;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.general-content div a {
	/* general content 영역이 5줄 이상일 경우 ...처리 */
	white-space: normal;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.hacks-content, .general-content {
	font-size: 13px;
}

/* hacks image */
.hacks-img div {
	height: 300px;
	border: 1px solid gray;
}

.hack-img img {
	width: 100%;
	height: 100%;
}

.general-content-writer div {
	font-size: 13px;
	font-weight: bold;
	padding-bottom: 2px;
}

.general-content-reg-date div {
	font-size: 13px;
	padding-top: 2px;
}

.comment-cnt, .like-cnt {
	font-size: 14px;
}

.like-cnt {
	text-align: right;
}

.like-cnt i {
	color: red;	
}

.comment-cnt i:hover, .like-cnt i:hover {
	transform: scale(1.2);
}

/* button */
.hacks-btn, .general-btn {
	font-size: 14px;
	text-align: center;
	margin: 30px auto;
	border: 1px solid #116916;
	width: 250px;
}

.hacks-btn:hover, .general-btn:hover {
	font-weight: bold;
}

.hacks-btn:hover a, .general-btn:hover a {
	display: block;
}

/* ===================================
communityBoardList.jsp
======================================*/

/* 검색창 */
.board-search-wrap {
	padding: 10px;
	height: 10px;
	border: 1px solid #116916;
	border-radius: 30px;
	transition: 0.4s;
	float: right;
}

.board-search-wrap:hover {
	box-shadow: 0px 0px .5px 1px #116916;
	width: 282px;
}

.board-search-btn {
	float: right;
	width: 10px;
	height: 10px;
	border: 0;
	border-radius: 50%;
	display: flex;
	background-color: white;
	justify-content: center;
	align-items: center;
	color: #116916;
	cursor: pointer;
}

.board-search-wrap select, .board-search-text {
	display: flex;
	padding: 0;
	width: 0px;
	border: none;
	background: none;
	outline: none;
	float: left;
	font-size: 13px;
	line-height: 10px;
	transition: .4s;
}

.board-search-wrap:hover select {
	width: 60px;
}

.board-search-wrap:hover .board-search-text {
	width: 200px;
	padding: 0 5px;
}

/* table */
.tbl-community-list {
	clear: both;
	width: 100%;
	margin: 50px auto;
	font-size: 14px;
	border-collapse: collapse;
	text-align: center;
	table-layout: fixed;
}

.tbl-community-list a {
	text-decoration: none;
	color: black;
}

.tbl-community-list a:hover {
	text-decoration: underline;
}

.tbl-community-list th {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	height: 30px;
}

.tbl-community-list th:first-of-type,
.tbl-community-list th:nth-of-type(4),
.tbl-community-list th:nth-of-type(5),
.tbl-community-list th:nth-of-type(6) {
	width: 100px;
}

.tbl-community-list th:nth-of-type(2) {
	width: 50%;
}

.tbl-community-list th:nth-of-type(3),
.tbl-community-list th:nth-of-type(7) {
	width: 170px;
}

.tbl-community-list td {
	height: 25px;
	font-size: 13.5px;
	border-bottom: 1px solid gray;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* buttom */
#hacks-btn, #general-btn {
	border: none;
	padding: 5px;
	border-radius: 10px;
	background-color: white;
	font-size: 15px;
	font-weight: bold;
}

#hacks-btn:hover, #general-btn:hover {
	color: #116916;
}

#board-post-btn {
	float: right;
	border: none;
	padding: 5px;
	color: white;
	background-color: #116916;
	width: 70px;
	height: 30px;
	margin-left: 10px;
	font-size: 13px;
}

/* page-bar */
.page-bar {
	text-align: center;
	font-size: 15px;
}

.page-bar a {
	margin: 0 5px;
	color: black;
	text-decoration: none;
}

.page-bar a:hover {
	color: #116916;
	font-weight: bold;
}

.page-bar .cPage {
	color: #f8674f;
	font-weight: bold;
}

/* ===================================
communityBoardEnroll.jsp
======================================*/

#community-board-enroll-wrap {
	width: 90%;
	margin: 30px auto;
}

#community-board-enroll-wrap .main-title {
	font-size: 21px;
}

#community-board-enroll-wrap .main-sub-title, sup {
	font-size: 13px;
	font-weight: bold;
	color: red;
}

/* table */
.tbl-board-enroll {
	text-align: left;
	width: 100%;
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	margin-top: 10px;
	margin-bottom: 10px;
	table-layout: fixed;
}

.tbl-board-enroll th {
	width: 150px;
	height: 60px;
}

.tbl-board-enroll td input,
.tbl-board-enroll td textarea {
	font-size: 14px;
}

.tbl-board-enroll td input {
	height: 25px;	
}

input[name="memberId"], input[name="password"] {
	width: 25%;
}

input[name="title"] {
	width: 50%;
}

.tbl-board-enroll textarea {
	resize: none;
	width: 100%;
	height: 250px;
}

/* button */
.attach-btn-wrap {
    display: inline-block;
    vertical-align: middle;
    padding: 2px;
    margin-left: 10px;
    background-color: #116916;
    font-size: 13px;
}

.board-attach-wrap .attach-name {
    display: inline-block;
    vertical-align: middle;
    width: 25%;
    color: gray;
    font-size: 13px;
    height: 30px;
    border-bottom: 1px dashed gray;
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.board-attach-wrap input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
}

.attach-btn-wrap button {
    height: 30px;
    color: white;
    background: none;
    border: none;
	cursor: pointer;
}

.board-button-wrap {
	text-align: center;
}

#board-enroll-btn, #board-reset-btn {
	margin: 5px;
	border: none;
	padding: 10px 25px;
	background-color: white;
	color: #116916;
	border: 1px solid #116916;
	font-size: 13px;
}

#board-enroll-btn:hover, #board-reset-btn:hover {
	background-color: #116916;
	color: white;
}

/* ===================================
communityBoardView.jsp
======================================*/

#community-board-view-wrap {
	margin-bottom: 50px;
}

/* tbl-posting-view */
.tbl-posting-view {
	width: 95%;
	margin: 30px auto;
	text-align: left;
}

.tbl-posting-view th, .tbl-posting-view td {
	padding-top: 10px;
}

.tbl-posting-view thead {
	font-size: 14px;
}

.posting-view-writer i {
	color: #f8674f;
}

.posting-view-reg-date {
	text-align: right;
}

.posting-view-board-name {
	font-size: 14px;
}

.posting-view-board-name a {
	text-decoration: none;
	color: #116916;
}

.posting-view-board-name:hover {
	font-weight: bold;
}

.posting-view-title {
	font-size: 23px;
}

.posting-view-content div {
	padding: 10px 0;
}

.posting-view-content img {
	max-width: 600px;
	max-height: 600px;
}

.posting-view-cnt span {
	margin: 7px;
}

.posting-view-comment-tap a {
	text-decoration: none;
	color: black;
}

.posting-view-comment-tap:hover {
	font-weight: bold;
}

.posting-view-like-cnt i {
	color: red;
}

/* button */
#board-like-btn {
	margin: 0 5px 30px 5px;
	border: 1px solid #f0f0f0;
	padding: 10px 25px;
	background-color: white;
	font-size: 15px;
}

#board-like-btn i {
	color: red;	
}

#board-update-btn, #board-delete-btn {
	margin: 0 5px 30px 5px;
	padding: 10px 25px;
	background-color: white;
	color: #116916;
	border: 1px solid #116916;
	font-size: 13px;
}

#board-update-btn:hover, #board-delete-btn:hover {
	background-color: #116916;
	color: white;
}

/* comment-enroll-wrap */
.comment-enroll-wrap {
	margin: 0 auto;
	text-align: center;
	table-layout: fixed;
}

.comment-enroll-wrap h4 {
	text-align: left;
	padding: 10px 40px;
	margin: 0 auto;
}

.comment-enroll-wrap textarea {
	resize: none;
	height: 80px;
	width: 85%;
	vertical-align: middle;
}

.comment-enroll-btn {
	display: inline;
	border: none;
	padding: 10px 25px;
	height: 87px;
	vertical-align: middle;
	color: white;
    background-color: #116916;
    cursor: pointer;
}

.comment-reply-wrap {
	text-align: left;
	text-align: center;
}

.comment-reply-wrap form {
	width: 100%;
	
}

.comment-reply-wrap textarea {
	resize: none;
	height: 80px;
	width: 85%;
	vertical-align: middle;
}

.comment-reply-btn {
	display: inline;
	margin-left: 4px;
	border: none;
	padding: 10px 25px;
	height: 87px;
	vertical-align: middle;
	color: white;
    background-color: #116916;
    cursor: pointer;
}

/* tbl-posting-comment-view */
.tbl-posting-comment-view {
	margin: 20px auto;
	text-align: center;
	width: 90%;
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	border-collapse: collapse;
}

.tbl-posting-comment-view th,
.tbl-posting-comment-view td {
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	height: 60px;
	padding: 10px;
}

.tbl-posting-comment-view td span {
	display: block;
	padding-top: 10px;
}

.level1 td:first-of-type,
.level2 td:first-of-type {
	text-align: left;
}

.level2 i {
	color: #f8674f;
}

.level2 td:first-of-type {
	padding-left: 30px;
}

.level1 td:last-of-type,
.level2 td:last-of-type {
	text-align: right;
}

.comment-writer, .comment-date {
	color: #116916;
}

/* button */
#comment-reply-btn,
#comment-delete-btn,
#comment-delete-btn {
	border: 1px solid #116916;
	background-color: white;
	padding: 10px 15px;
	margin: 3px;
	font-size: 13px;
}

#comment-reply-btn:hover,
#comment-delete-btn:hover,
#comment-delete-btn:hover {
	color: white;
	background-color: #116916;
}

/* ===================================
communityBoardUpdate.jsp
======================================*/

#community-board-update-wrap {
	width: 90%;
	margin: 30px auto;
}

#community-board-update-wrap .main-title {
	font-size: 21px;
}

#community-board-update-wrap .main-sub-title, sup {
	font-size: 13px;
	font-weight: bold;
	color: red;
}

/* table */
.tbl-board-update {
	text-align: left;
	width: 100%;
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	margin-top: 10px;
	margin-bottom: 10px;
	table-layout: fixed;
}

.tbl-board-update th {
	width: 150px;
	height: 60px;
}

.tbl-board-update td input,
.tbl-board-update td textarea {
	font-size: 14px;
}

.tbl-board-update td input {
	height: 25px;	
}

input[name="memberId"], input[name="password"] {
	width: 25%;
}

input[name="title"] {
	width: 50%;
}

.tbl-board-update textarea {
	resize: none;
	width: 100%;
	height: 250px;
}

.existing-attach-wrap {
	padding: 0;
	width: 60%;
}

.existing-attach-img {
	padding: 0;
	display: inline;
	width: 150px;
	height: 150px;
}

.existing-attach-img img {
	width: 150px;
	height: 150px;
}

.existing-attach-name {
	display: inline-block;
	vertical-align: text-bottom;
	margin: 10px;
	width: 30%;
	border-bottom: 1px dashed #116916;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
}

/* checkbox ver1 */
input[name=delFile] {
	display: none;
}

input[name=delFile] + label {
	display: inline-block;
	cursor: pointer;
	vertical-align: super;
}

.st0 {
	fill: white;
	stroke: black;
	stroke-width: 5px;
	stroke-miterlimit: 10;
}

.st1 {
	fill: none; 
	stroke: white;
	stroke-width: 5px;
	stroke-miterlimit: 10;
	stroke-dashoffset: 0;
	stroke-dasharray: 60;
}

input:checked ~ label .st1 {
    stroke: #116916; 
    animation: dash 0.3s linear alternate 1;
}

@keyframes dash {
	from {
    	stroke-dashoffset: 60;
	}
	to {
		stroke-dashoffset: 0;
	}
}

label[for=delFile] sup {
	font-size: 13px;
	color: red;
}

/* checkbox ver2 */
/* input[name=delFile] + label {
	display: inline-block;
	width: 15px;
	height: 15px;
	border:1px solid #116916;
	position: relative;
	vertical-align: super;
	cursor: pointer;
}

input[name=delFile]:checked + label::after {
	content:'✔';
	font-size: 13px;
	width: 15px;
	height: 15px;
	text-align: center;
	position: absolute;
	left: 0;
	top:0;
}

.attach-del-check {
	font-size: 13px;
	color: red;
	vertical-align: super;
} */

/* button */
#board-update-btn, #board-back-btn {
	margin: 5px;
	border: none;
	padding: 10px 25px;
	background-color: white;
	color: #116916;
	border: 1px solid #116916;
	font-size: 13px;
}

#board-update-btn:hover, #board-back-btn:hover {
	background-color: #116916;
	color: white;
}





