@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
  box-sizing: border-box;
}

h1 {
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#surveyContainer {
  background-color: white;
  border-radius: 50px;
  width: 400px;
  border-radius: 8px;
  overflow: hidden;
  margin: 100px auto;
  padding: 80px;
  transition: all 0.3s cubic-bezier(0.42, 0.0, 0.58, 1.0);
}

#surveyContainer:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transform: translateY(-10px);
}

input {
  accent-color: green;
}

.gender, .survey_height, .survey_weight, .Uniqueness {
  display: flex;
  color: #666;
  margin-bottom: 20px;
  font-weight: 600;
}