@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


.survey_result_warp {
	display: flex;
	border-collapse: collapse;
}


.survey_result {
	border-top: 1px solid #000;
	background-color: #fbfbfb;
}

.foward {
	border: solid 1px #116916;
	height: 50px;
	width: 45%;
	border-radius: 20px;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	color: #f1f1f1;
	background-color: #116916;
}

.foward:hover {
	color: #116916;
	background-color: #f1f1f1;
}