@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
  box-sizing: border-box;
}

h1 {
  display: flex;
}

h5  {
  color: #666;
  margin-bottom: 40px;
}

#surveyContainer {
  background-color: white;
  border: 1px solid;
  border-radius: 50px;
  width: 800px;
  border-radius: 8px;
  overflow: hidden;
  margin: 100px auto;
  padding: 80px;
  transition: all 0.3s cubic-bezier(0.42, 0.0, 0.58, 1.0);
}

#surveyContainer:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transform: translateY(-10px);
}

input {
  accent-color: #116916;
}

.gender, .survey_height, .survey_weight, .Uniqueness {
  display: flex;
  color: #666;
  margin-bottom: 20px;
  font-weight: 600;
}

#next {
	border: none;
	height: 50px;
	width: 45%;
	border-radius: 20px;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	color: #f1f1f1;
	background-color: #116916;
}

#next:hover {
	color: #116916;
	background-color: #f1f1f1;
}